* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

#silo {
  background-image: url('../images/silo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 100%;
  height: auto;
}

.column {
  float: left;
  width: 50%;
  padding: 25px;
  height: 300px;

.row:after {
  content: "";
  display: table;
  clear: both;
}
